@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;500&display=swap');

/* Universal Styling*/
* {
    box-sizing: border-box;
    margin: 0;
} 

* > {
    flex-basis: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #bebebe;
}

#header {
    max-width: 100%;
    height: auto;
}

/* Navigation styling*/
.Topnav {
    background-color: #0A1327;
    overflow: hidden;
}

.Topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 1.4em;
    padding: 39px 18px;
    text-decoration: none;
    margin-right: 1rem;
}

.Topnav a:hover {
    background-color: #0f2f73;
    padding: 40px;
}

.Topnav .logo {
    width: 6.5em;
}

.Topnav .icon {
    display: none;
}

/* container stylings*/
.BG {
   background-image: url('src/pexels-tirachard-kumtanom-347141.jpg');
   background-size: cover;
   width: 100vw;
   height: 120vh;
   opacity: 0.65;
}

.photo1 {
    max-width: 100%;
    margin: 0 auto;
    width: 100vw;
    height: 60vh;
    position: relative;
    bottom: 18rem;
}

.videoContainer {
    max-width: 100%;
    height: auto;
    position: relative;
    top: -60vh;
}

.pricing-container {
    font-family: 'Bebas Neue', cursive;
    background-color: #041945;
    color: #eac861;
    text-align: center;
    font-size: 3em;
    padding: 25px;
}

#video {
    width: 100vw;
}

#form {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.col {
    float: left;
    display: flex;
    width: 33.3%;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 2.5rem 0;
}

.price {
    flex-wrap: wrap;
    border: 1px solid #7d7d7d;
    background-color: #e2e2d8;
    box-shadow: 3px 2px #0000001e;
    border-radius: 8px;
    list-style-type: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    margin: 0;
}

.icons {
    padding: 10px;
    color: #0c4974;
}

.price-box {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    color: #464646;
}

.price .head {
    font-family: 'Bebas Neue', cursive;
    background-color: #081236;
    color: #67c5a5;
    font-size: 1.8em;;
}

.price li {
    text-align: center;
    border-bottom: 1px solid #000c24;
    padding: 20px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    padding: 20rem 0 2rem 0;
    color: #000000;
}

input[type=email] {
    text-align: center;
    font-size: 1em;
    padding: 15px 8px;
    width: 80%;
}

.btn {
    background-color: #000c24;
    font-size: 1em;
    color: #dedede;
    padding: 15px 20px;
    width: 80%;
    cursor: pointer;
}

.signup  {
    font-family: 'Bebas Neue', cursive;
    background-color: #040e23;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.3em;
    font-weight: 500;
    color: #67c5a5;
}

/* hover stylings*/
.btn:hover {
    background-color: #0b2966;
}

.signup:hover {
    background-color: #67c5a5;
    border: 1px solid #000c24;
    font-weight: 600;
    color: #000000;
    font-size: 1.2em;
}

.price:hover {
    background-color: #dbeee8;;
}

/* slideshow styling*/
.slideContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.previous, .next {
    position: absolute;
    top: 50%;
    border-radius: 0 3px 3px 0;
    margin-top: -22px;
    padding: 18px;
    width: auto;
    font-size: 18px;
    font-weight: bold;
    color: #bebebe;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease-in;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, next:hover {
    background-color: #041c2c36;
}

.caption {
    text-align: center;
    color: #dbeee8;
    font-size: 1.1em;
    position: absolute;
    bottom: 8px; 
    width: 100%;
    padding: 8px 12px;
}

.slideNumber {
    font-size: 1em;
    color: #dbeee8;
    position: absolute;
    top: 0;
    padding: 8px 12px;
}



/* footer stylings*/
.end {
    background-color: #000000bc;
    height: 25vh;
    margin-top: 75vh;
    max-width: 100%;
    color: #dbeee8;
}

address {
    float: left;
    width: 50%;
    padding-left: 20px;
    margin-top: 5.5rem;
}

.category {
    float: right;
    width: 50%;
    text-align: right;
    list-style-type: none;
    padding-right: 20px;
    margin-top: 5.5rem;
}

.link {
    text-decoration: none;
    color: #dbeee8;
}

/* Media queries*/
@media screen and (max-width: 800px) {
    .Topnav a:not(:first-child) {display: none;}
    .Topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 800px) {
    .Topnav.responsive {position: relative;}
    .Topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin: 1rem;
        font-size: 1.1em;
        padding: 15px 5px;
    }
  }

@media screen and (max-width: 650px) {
    input[type=email], .btn {
        width: 80%;
    }
    #form {
        width: 80%;
        max-width: 100%;
    }
    h2 {
        font-size: 2.2em;
    }
    .col {
        width: 100%;
    }
    .end {
        margin-top: 220vh;
    }
}